<%= turbo_frame_tag "result" do %>
<h3>ゲーム結果</h3>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col"><%= sort_link("sum", "合計") %></th>
      <th scope="col"><%= sort_link("updated_at", "日付") %></th>
      <th scope="col">詳細</th>
      <th scope="col">削除</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| if @results %>
      <tr>
        <th scope="row"><%= result.sum %></th>
        <td><%= l result.updated_at %></td>
        <td><%= link_to "詳細", result_path(result) %></td>
        <td><%= link_to "削除", result_path(result), data: { turbo_method: :delete, turbo_confirm: "結果を削除してもよろしいですか？" } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= paginate @results %>
<% end %>
