<% content_for :css do %>
  <%= stylesheet_link_tag 'form' %>
<% end %>

<main id="main">
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>プロフィール編集</h2>
      </div>
      <div class="row mt-5 justify-content-center">
        <div class="col-lg-8 mt-5 mt-lg-0">
          <%= form_with model: current_user, url: mypage_update_path, class: "user-form", method: :patch do |f|  %>
            <div class="row">
              <div class="col-md-6 form-group">
                <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", placeholder: "アカウント名" %>
              </div>
            </div>
            <div class="form-group mt-3">
              <%= f.file_field :icon, class: "form-control" %>
            </div>
            <div class="row text-center justify-content-center">
              <%= f.submit "編集を完了", class: "submit-btn col-md-6 col-xs-10" %>
              <%= link_to "戻る", :back %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>


