<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <h1 class="logo me-auto me-lg-0", data-turbo="false" ><%= link_to "Yahtzee", root_path%></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li data-turbo="false"><%= link_to "Home", root_path, class: "active"%></li>
        <li><a href="about.html">Rules</a></li>
        <li><a href="resume.html">Game</a></li>
        <li><a href="services.html">Ranking</a></li>
        <% if user_signed_in? %>
          <li><%=link_to image_tag(current_user.icon.variant(:thumb), class: "icon", alt: "アイコン"), mypage_path(current_user) %></li>
          <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path%></li>
          <li><%= link_to "新規登録", new_user_registration_path%></li>
        <% end %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
