<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <h1 class="logo me-auto me-lg-0"><%= link_to "Yahtzee", root_path%></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "ルール", rules_path %></li>
        <li><%= link_to "ランキング", ranking_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
              <a href="#"><%= image_tag(current_user.icon.variant(:thumb), class: "icon", id: "icon", alt: "アイコン") %></a>
            <ul>
              <li><%= link_to "マイページ", profile_path(current_user) %></li>
              <li><%= link_to "アカウント設定", edit_user_registration_path %></li>
              <li data-turbo="true"><%= link_to "ログアウト", destroy_user_session_path, data: { "turbo-method": :delete } %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path%></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
