<% content_for :css do %>
  <%= stylesheet_link_tag "home" %>
<% end %>

<section id="hero" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
    <h1>Yahtzee</h1>
    <div class="text-center" data-turbo="true">
      <% unless user_signed_in? %>
        <%= link_to "ログイン", new_user_session_path, class: "btn-link col-7" %>
        <%= link_to "ゲストログイン", guest_sign_in_path, data: {"turbo-method": :post}, class: "btn-link col-7" %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn-link col-7" %>
      <% else %>
        <%= turbo_frame_tag "select_players_num" do %>
          <%= link_to "プレイする", select_players_num_path, class: "btn-link col-7" %>
          <%= link_to "ルール", rules_path, class: "btn-link col-7", data: { turbo: "false" } %>
          <%= link_to "ランキング", ranking_path, class: "btn-link col-7", data: { turbo: "false" } %>
        <% end %>
      <% end %>
      
    </div>
  </div>
</section>

