<%= turbo_frame_tag "ranking" do %>
  <div class="text-center">
    <span>総合</span>
    <%= link_to "週間", weekly_ranking_path %>
  </div>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">順位</th>
        <th scope="col">ユーザー名</th>
        <th scope="col">得点</th>
        <th scope="col">詳細</th>
      </tr>
    </thead>
    <tbody>
      <% ranks.each.with_index(1) do |rank, i| %>
        <tr>
          <th scope="row"><%= i + (current_page - 1) * 10 %></th>
          <% if rank.user %>
            <td data-turbo="false">
              <%= image_tag(rank.user.icon.variant(:thumb), class: "icon", id: "icon", alt: "アイコン") %>
              <%= link_to rank.user.username, profile_path(rank.user) %>
            </td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= rank.sum %>点</td>
          <td data-turbo="false"><%= link_to "詳細", result_path(rank) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate ranks %>
<% end %>
