<div class="row justify-content-start dice-container">
  <h3>キープしたサイコロの目</h3>
  <% keep_dices.each_with_index do |num, index| %>
    <%= link_to image_tag("dice_image#{num}.jpg", size: "50x50", class: "keep-dice"), 
      move_to_table_path(move_btn_params(index)),
      class: "col-2"
    %>
  <% end %>
</div>
<div data-controller="dice">
  <div class="row justify-content-start dice-container">
    <h3>現在のサイコロの目</h3>
    <% table_dices.each %>
      <% table_dices.each_with_index do |num, index| if (num > 0 && num <= 6) %>
        <%= link_to image_tag("dice_image#{num}.jpg", size: "50x50", class: "table-dice", data: { dice_target: "dice#{index}", action: "load->dice#roll_dice" }),
          move_to_keep_path(move_btn_params(index)),
          class: "col-2"
        %>
      <% end %>
    <% end %>
  </div>
  <% if table_dices.size > 0 %>
    <%= link_to "サイコロを振る",
      roll_dices_path,
      class: "btn-link"
    %>
  <% end %>

  <h3>残り
  <% if 3 - session[:roll_count].to_i > 0 %>
    <%= 3 - session[:roll_count].to_i %>
  <% else %>
    <%= 0 %>
  <% end %>
  回振れます</h3>
</div>
