<main id="main">
  <section class="align-items-center">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6 col-12">
          <h1>Result</h1>

          <%= turbo_frame_tag "results" do %>
            <%= render partial: "results", locals: { game: @game, categories_and_results: @categories_and_results, calculated_scores: @calculated_scores } %>
          <% end %>

        </div>
        <div class="col-md-6 col-12" data-turbo="true">

          <%= turbo_frame_tag "field" do %>
            <%= render partial: "field", locals: { table_dices: @table_dices, keep_dices: @keep_dices }  %>
          <% end %>

          <% if @table_dices.size > 0 %>
            <%= button_to "サイコロを振る", roll_dices_path, method: :get, params: { id: @game.id, table_dices: @table_dices, keep_dices: @keep_dices } %>
          <% end %>

        </div>
      </div>
    </div>
  </section>
</main>
