<%= turbo_stream.update "results" do %>
  <%= render partial: "results",
    locals: results_locals(@game, @categories_and_results, @calculated_scores)
  %>
<% end %>

<%= turbo_stream.replace "field" do %>
  <div class="row text-center">
    <%= link_to "もう一度プレイ", new_game_path, data: { "turbo-method": :post }, class: "btn-link col-10" %>
    <%= link_to "ホームに戻る", root_path, class: "btn-link col-10" %>
  </div>
<% end %>
