<!DOCTYPE html>
<html>
  <head>
    <title>Yahtzee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "aos" %>
    <%= stylesheet_link_tag "glightbox.min" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" %>
    <%= yield :css %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "shared/header" %>

    <%= yield %>

    <div id="flash">
      <%= render partial: "shared/flash" %>
    </div>

    <%= render "shared/footer" %>

    <%= javascript_include_tag "aos" %>
    <%= javascript_include_tag "purecounter_vanilla" %>
    <%= javascript_include_tag "glightbox.min" %>
    <%= javascript_include_tag "isotope.pkgd.min" %>
    <%= javascript_include_tag "swiper-bundle.min" %>
    <%= javascript_include_tag "noframework.waypoints" %>
    <%= javascript_include_tag "validate" %>
  </body>
</html>
