<%= turbo_stream.replace @user do %>
  <%= render partial: "users/mypages/profile",
    locals: { user: @user, number_of_play: @number_of_play, max_point: @max_point }
  %>
<% end %>

<%= turbo_stream.replace "icon" do %>
  <a href="#"><%= image_tag(@user.icon.variant(:thumb), class: "icon", alt: "アイコン") %></a>
<% end %>

<%= turbo_stream.update "flash", partial: "shared/flash" %>
